node_modules/
dist/
*.log
.DS_Store
refs/compare/build-*
refs/compare/ref-*
refs/compare/compare-pc.jpg
refs/compare/compare-sp.jpg
refs/compare/_speccheck_*
refs/studio-Q65qmmvqVR/masked/*.jpg
refs/compare/clone-*.png
templates/wa-01/spec-check-result.json
